@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

html{
    background-color: #397367;
    padding: 10% 20%;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}

.GameTitle{
    font-weight: 800;
    font-size: 38px;

    text-align: center;
}

.OutputDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 38px;
    margin-bottom: 25px;;
}

.Output{
    background-color: #63CCCA;
    width: 250px;
    min-width: 214px;
    height: 250px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 800;
    font-size: 38px;
    padding: 15px 18px;
}

.vs{
    margin: 0 5%;
    font-weight: 800;
    font-size: 38px;
}

.input{
    text-align: center;
    font-weight: 700;
    font-size: 29px;
}

.choice{
    margin-top: 16px;
    display: flex;
    justify-content: center;
}

.hand{
    background-color: #63CCCA;
    border: none;
    border-radius: 24px;
    width: 95px;
    height: 95px;
    margin: 0 10px;
    cursor: pointer;
}

img{
    width: 75px;
}